<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwMaps/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <div id="map_{cUid}"></div>

    <div id="popper"></div>

    <f:comment><!-- image resources --></f:comment>
    <p class="text-small" role="contentinfo">
        <strong>Lizenzhinweis: </strong> <a href="https://commons.wikimedia.org/wiki/User:TUBS">TUBS</a>, <a href="https://commons.wikimedia.org/wiki/File:Germany_(+districts)_location_map.svg">Germany (+districts) location map</a>, Hintergrundfarbe, dynamische Färbung markierter Elemente von RKW Kompetenzzentrum, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="license">CC BY-SA 3.0</a>
    </p>

</f:section>

</html>