path {
    cursor: pointer;
}

path:hover {
    fill: #d63f11;
}

#popper {
    visibility: hidden;
    padding: 1em;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
}

#TT_Districts, #TT_States_1_, #TT_Gov_Districts {
    display: none !important;
}

.district {
    fill: #cccccc;
}

.district.primary {
    fill: #d63f11;
}
